<div class="topnav">
  <%= link_to 'Home', root_path, :class => "active" %>
  <%= link_to 'Álbums', albums_path %>
  <%= link_to 'Músicas', songs_path %>
  <%= link_to 'Criar Usuario', new_user_path %>
</div>